##=======================================================
## ====Build and Release Folders
# Efi/*
images/*
isolinux/*
LiveOS/*
Packages/*
repodata/*

##=======================================================
## ====Build and Release File

ks.cfg

##=======================================================
## Other files and folders

System Volume Information*


##=======================================================
## Executables

isolinux/initrd.img
isolinux/initrd.img
images/pxeboot/initrd.img
LiveOS/squashfs.img